nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  min-width: 200px;
  height: 350px;
}

.topic-button {
  display: flex;
  align-items: center;
  width: 80%;
  min-width: 200px;
  padding: 10px;
  font-size: 135%;
  border: none;
  background: none;
  outline: 0;
  cursor: pointer;
}

.topic-button:hover,
.topic-button:focus {
  background-color: #FFFFFF;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.topic-button:active {
  box-shadow: -3px 3px grey;
  transform: translateX(5px);
}

.button-icon {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

@media screen and (max-width: 800px) {
  nav {
    margin: auto;
    width: 60%;
  }
}
