.news-container {
  display: flex;
  width: 75%;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-around;
  overflow: auto;
  height: 90vh;
}

@media screen and (max-width: 800px) {
  .news-container {
    margin: auto;
    width: 75%;
  }
}
